<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='simple.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <dialog class="flash" open>
      <p>{{ message }}</p>
      <form method="dialog">
        <button>OK</button>
      </form>
    </dialog>
  {% endfor %}
  {% block content %}{% endblock %}
</section>